In [26]:
#Import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import hvplot.pandas
from scipy.stats import linregress
import csv
from config import cenus_key 
from config import labor_key

In [27]:
percap2018="percapincomemetro2018.csv"
percap2021="percapincome2021bls.csv"
priceparities="priceparities2018.csv"

In [18]:
pc2018=pd.read_csv(percap2018, skiprows=4)
pc2018.columns

Index(['Unnamed: 0', '2017', '2018', 'Percent change', '2017.1', '2018.1',
       'Percent change.1'],
      dtype='object')

In [35]:
pc2018=pc2018.rename(columns={"Unnamed: 0":"Area","2017": "2017 PerCapIncome","2018":"2018 PerCapIncome",
                       "Percent change":"% Change to PCI","2017.1":"2017 Real Personal Income",
                      "2018.1":"2018 Real Personal Income","Percent change.1": "% Change to RPI"})
pc2018=pc2018.set_index("Area")
pc2018.head()

,2017 PerCapIncome,2018 PerCapIncome,% Change to PCI,2017 Real Personal Income,2018 Real Personal Income,% Change to RPI
Area,,,,,,
United States,"51,885","54,446",4.9,"48,980","50,346",2.8
United States nonmetropolitan portion,"39,690","41,552",4.7,"42,997","44,417",3.3
Metropolitan Statistical Areas,NaN,NaN,NaN,NaN,NaN,NaN
"Abilene, TX","40,862","43,140",5.6,"42,897","43,979",2.5
"Akron, OH","47,343","49,423",4.4,"49,779","51,138",2.7

In [24]:
pc2021=pd.read_csv(percap2021,skiprows=3)
pc2021.head()

,Unnamed: 0,2019,2020,2021,2021.1,2020.1,2021.2,2021.3
0,United States,"56,250","59,765","64,143",--,6.2,7.3,--
1,Metropolitan portion,"58,347","61,866","66,392",--,6.0,7.3,--
2,Nonmetropolitan portion,"43,075","46,495","49,962",--,7.9,7.5,--
3,Metropolitan Statistical Areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Abilene, TX","45,676","49,210","55,556",170,7.7,12.9,2

In [34]:
pc2021=pc2021.rename(columns={"Unnamed: 0":"Area","2019": "2019 PerCapIncome","2020":"2020 PerCapIncome",
                       "2021":"2021 PerCapIncome", "2021.1":"Rank in U.S. 2020","2020.1": "% change from 2019 in 2020",
                              "2021.2":"% change from 2020 in 2021","2021.3":"Rank in U.S. 2021"})
pc2021=pc2021.set_index("Area")
pc2021.head()

,2019 PerCapIncome,2020 PerCapIncome,2021 PerCapIncome,Rank in U.S. 2020,% change from 2019 in 2020,% change from 2020 in 2021,Rank in U.S. 2021
Area,,,,,,,
United States,"56,250","59,765","64,143",--,6.2,7.3,--
Metropolitan portion,"58,347","61,866","66,392",--,6.0,7.3,--
Nonmetropolitan portion,"43,075","46,495","49,962",--,7.9,7.5,--
Metropolitan Statistical Areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Abilene, TX","45,676","49,210","55,556",170,7.7,12.9,2

In [31]:
priceparity=pd.read_csv(priceparities,skiprows=3)
priceparity.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Rents,Other
0,United States1,100.0,98.9,101.9,100.0
1,United States nonmetropolitan portion,87.2,94.7,62.5,93.7
2,Metropolitan Statistical Areas,NaN,NaN,NaN,NaN
3,"Abilene, TX",91.4,96.8,81.6,92.6
4,"Akron, OH",90.1,95.9,76.7,91.9

In [36]:
priceparity=priceparity.rename(columns={"Unnamed: 0":"Area","Unnamed: 1": "All Items",
                                        "Unnamed: 2":"Goods", "Other": "Other Services"})
priceparity=priceparity.set_index("Area")
priceparity.head()

                                       All Items  Goods  Rents   Other
Area
United States1                             100.0   98.9  101.9    100.0
United States nonmetropolitan portion       87.2   94.7   62.5     93.7
Metropolitan Statistical Areas               NaN    NaN    NaN      NaN
Abilene, TX                                 91.4   96.8   81.6     92.6
Akron, OH                                   90.1   95.9   76.7     91.9

In [43]:
income=pd.merge(pc2018,pc2021, how ="left" , on=["Area"])
income.head()

,2017 PerCapIncome,2018 PerCapIncome,% Change to PCI,2017 Real Personal Income,2018 Real Personal Income,% Change to RPI,2019 PerCapIncome,2020 PerCapIncome,2021 PerCapIncome,Rank in U.S. 2020,% change from 2019 in 2020,% change from 2020 in 2021,Rank in U.S. 2021
Area,,,,,,,,,,,,,
United States,"51,885","54,446",4.9,"48,980","50,346",2.8,"56,250","59,765","64,143",--,6.2,7.3,--
United States nonmetropolitan portion,"39,690","41,552",4.7,"42,997","44,417",3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Metropolitan Statistical Areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Abilene, TX","40,862","43,140",5.6,"42,897","43,979",2.5,"45,676","49,210","55,556",170,7.7,12.9,2
"Akron, OH","47,343","49,423",4.4,"49,779","51,138",2.7,"51,827","55,232","58,735",115,6.6,6.3,244

In [ ]:
income_and_col=pd.merge(income,priceparity,how="left",)